/* src/Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.start-btn {
  background-color: #2563eb;
  color: white;
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: background 0.3s;
}

.start-btn:hover {
  background-color: #1e40af;
}